<section class="bg-blue-700 py-44">
    <div class=" px-4 p-4 md:px-10 lg:px-32 md:flex md:justify-between md:items-center">
      <div class="flex flex-col md:flex-row md:items-center">
        
        <div class="md:w-1/2 mb-8 md:mb-0 md:mt-12">
          <h3 class="text-blue-200 mb-3 text-2xl">Explore your Travel</h3>
          <h1 class="text-white font-bold text-4xl mb-4">Trusted Travel Agency.</h1>
          <p class="text-white">
            I travel not to go anywhere but to go.
            I travel for travel’s sake.
            The great affair is to move.
          </p>
        </div>
        
        <div class="md:w-1/2 flex md:flex md:px-60 justify-center md:justify-end">
          <img
            src="assets/rectangle-1.png"
            alt="Travel illustration"
            class="rounded-lg max-w-full "
          >
        </div>
        
      </div>
    </div>
  </section>
  