<div [class.blurred]="isModalOpen">
  <nav
    class="hidden fixed top-0 left-0 right-0 z-50 p-4 md:px-10 lg:px-32 md:flex md:justify-between md:items-center bg-blue-700"
  >
    <div class="flex items-center">
      <a routerLink="/" class="text-2xl font-bold text-white">Safarny</a>
    </div>

    <ul class="hidden md:flex flex-1 justify-center space-x-6">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="text-white"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/trips" routerLinkActive="active" class="text-white"
          >Trips</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" class="text-white"
          >About Us</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="text-white"
          >Contact Us</a
        >
      </li>
    </ul>

    @if (isLoggedIn) {
    <div class="flex items-center space-x-4">
      <button
        mat-icon-button
        routerLink="/profile"
        class="hover:bg-blue-600 p-2 rounded-full"
      >
        <mat-icon class="text-sky-50">person</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="logout()"
        class="hover:bg-blue-600 p-2 rounded-full"
      >
        <mat-icon class="text-sky-50">exit_to_app</mat-icon>
      </button>
    </div>
    } @else {
    <div class="flex items-center space-x-6">
      <button (click)="openLogin()" class="text-white">Login</button>
      <button (click)="openSignup()" class="text-white">Signup</button>
    </div>
    }
  </nav>
</div>
<app-login (close)="onModalClose()"></app-login>
<app-signup (close)="onModalClose()"></app-signup>
