<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div class="sidebar-header">
      <h2 class="logo mt-5">Safarny</h2>
      <div class="user-info mt-4">
        <img
          src="https://static-00.iconduck.com/assets.00/user-icon-470x512-joawnpv1.png"
          class="avatar"
          alt="User Avatar"
        />
        <p class="username">{{ username }}</p>
      </div>
      <div class="sign-out">
        <a (click)="logout()">Sign out</a>
      </div>
    </div>

    <ul class="menu">
      <li (click)="goHome()">Home</li>
      <li
        [class.active]="selectedMenu === 'profile'"
        (click)="selectMenu('profile')"
      >
        User Profile
      </li>
      <li
        [class.active]="selectedMenu === 'bookings'"
        (click)="selectMenu('bookings')"
      >
        Booking History
      </li>

      <li
        [class.active]="selectedMenu === 'payments'"
        (click)="selectMenu('payments')"
      >
        Payments
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <div class="profile-content">
      <app-personal-details
        *ngIf="selectedMenu === 'profile'"
      ></app-personal-details>
      <app-booking-history
        *ngIf="selectedMenu === 'bookings'"
      ></app-booking-history>

      <app-profile-payments
        *ngIf="selectedMenu === 'payments'"
      ></app-profile-payments>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
