<app-modal [show]="show" (close)="onClose()">
  <div
    class="flex flex-col items-center justify-center space-y-4 w-full max-w-md p-8 rounded-2xl"
  >
    <span class="text-3xl font-bold mb-4">Log In</span>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="submitForm()"
      class="w-full space-y-4"
    >
      <div
        *ngIf="submitted && loginForm.get('email')?.errors?.['required']"
        class="text-red-500 text-sm"
      >
        Email is required.
      </div>
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="p-3 rounded-full bg-blue-50 w-full"
      />
      <div
        *ngIf="submitted && loginForm.get('password')?.errors?.['required']"
        class="text-red-500 text-sm"
      >
        Password is required.
      </div>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="p-3 rounded-full bg-blue-50 w-full"
      />

      <!-- Not registered -->
      <div class="text-center text-sm text-gray-600">
        Not registered?
        <a href="#" class="text-blue-750 font-semibold hover:underline"
          >Sign Up</a
        >
      </div>

      <!-- Buttons -->
      <div class="flex flex-col gap-2 pt-2">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 rounded-full w-full cursor-pointer"
        >
          Log In
        </button>
        <button
          type="button"
          (click)="onClose()"
          class="text-blue-600 hover:underline text-sm cursor-pointer"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</app-modal>
