<!-- <footer class="bg-primary text-white py-4 mt-5">
    <div class="container-md">
      <div class="row">
  
        <div class="col-md-3 mb-3">
          <a class="navbar-brand fw-bold fs-4 text-white" href="#">Safarny</a>
        </div>
  
        <div class="col-md-3 mb-3">
          <h6 class="fw-bold">Quick links</h6>
          <ul class="list-unstyled">
            <li><a class="text-white text-decoration-none" href="/contact">Contact us</a></li>
            <li><a class="text-white text-decoration-none" href="/about">About us</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 mb-3">
          <h6 class="fw-bold">Help</h6>
          <ul class="list-unstyled">
            <li><a class="text-white text-decoration-none" href="/terms">Terms &amp; conditions</a></li>
            <li><a class="text-white text-decoration-none" href="/privacy">Privacy policy</a></li>
            <li><a class="text-white text-decoration-none" href="/faq">FAQ</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 d-flex align-items-center justify-content-md-end">
          <a class="text-white fs-4 mx-2" href="#"><i class="bi bi-facebook"></i></a>
          <a class="text-white fs-4 mx-2" href="#"><i class="bi bi-instagram"></i></a>
          <a class="text-white fs-4 mx-2" href="#"><i class="bi bi-twitter"></i></a>
          <a class="text-white fs-4 mx-2" href="#"><i class="bi bi-youtube"></i></a>
        </div>
  
      </div>
    </div>
  </footer>
   -->